 h1,h2,h3,h4.h5,h6,p{
    margin: 0px;
    padding: 0px;
 }
 .container {
    width: 1200px;
    margin: 0px auto;
padding: 0px 15px;
}
header {
    padding: 25px 0px;
}
.nav_addres {
    display: flex;
    align-items: center;
    gap: 95px;
}
.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_menu {
    display: flex;
    align-items: center;
}
ul,
li {
    padding: 0px;
    margin: 0px;
    list-style: none;
    gap: 50px;
}
span {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.webb {
    color: black;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.fon{
    background: #2F303A;
    padding: 200px 0px;
  }
  h1{
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 60px; 
letter-spacing: 2.64px;
text-transform: uppercase;
width: 696px;
flex-shrink: 0;
  }
  button{
    border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
width: 216px;
height: 50px;
flex-shrink: 0;

  }
  .text {
    margin: 0;
    font-family: Arial, sans-serif;
        display: flex;
    gap: 10px;
    flex-direction: column;
  }
  

  h3 {
    margin-bottom: 10px;
  }
  .type{
    color: #757575;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.42px;
width: 270px;
height: 48px;
  }  
  .technology_title{
    color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;

  }
  .busness{
    display: flex;
    align-items: center;
  }
  .fon_dox{
    display: flex;
flex-direction: column;
align-items: center;
  }
  .fon_button{
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
  }
  .technology{
padding: 95px 0px 120px;
  }
  .work{
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
padding: 50px;
  }
  .foto{
    display: flex;
    gap: 30px;
  }
  .team{
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
  }
  /* .companion{
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
  }
  .pp{
    color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  }
  .our_team{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .people{
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
  } */
  .our_team ul {
    display: flex;

    justify-content: center;
    gap: 30px;
    padding: 0;
    list-style: none;

  }
  
  .people {
    text-align: center;
    min-width: 180px;
  }  
  .team {
    text-align: center;
    margin-bottom: 20px;
  }
  footer{
    background: #2F303A;
    padding: 60px 0px;
  }
  .studio{
    color: #FFF;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin: 0px 0px 10px  ;
  }
  .addr{
    width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  }
  .imei{
    color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  width: 136px;
  height: 21px;
  }
  .web{
    color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  }
  .contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
 